<h1><%= @merchant.name %>'s Bulk Discounts Index </h1>

<% @merchant.bulk_discounts.each do |disc| %>
  <div id="disc-<%= disc.id %>">
    <p>Current Offer: <%= disc.name %> - <%= disc.pct_discount %>% Off for <%= disc.qty_threshold %> Items!</p>
  </div>
<% end %>
