<%= "Invoice Status: #{@invoice.status}"%><br>
<%= "Invoice Created at: #{@invoice.created_at.strftime("%A, %B%e, %Y")}" %><br>

<%= "Customer Name: #{@invoice.customer.first_name} #{@invoice.customer.last_name}" %><br>

<h3>Total Revenue</h3>
<%= "Total Revenue: #{number_to_currency(@invoice.total_revenue.fdiv(100))}"%>

<h3>Discounted Revenue</h3>

<% if @invoice.disc_amount > 0 %>
  <%= "Discounted Revenue: #{number_to_currency((@invoice.total_revenue - @invoice.disc_amount)/100)}" %>
<% else %>
  <%= "Discounted Revenue: N/A" %>
<% end %>